# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule DocuSign.Api.Accounts do
  @moduledoc """
  API calls for all endpoints tagged `Accounts`.
  """

  alias DocuSign.Connection
  import DocuSign.RequestBuilder

  @doc """
  Deletes the specified account.
  This closes the specified account. You must be an account admin to close your account. Once closed, an account must be reopened by DocuSign.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec accounts_delete_account(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:error, Tesla.Env.t()}
  def accounts_delete_account(connection, account_id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/v2.1/accounts/#{account_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Retrieves the account information for the specified account.
  Retrieves the account information for the specified account.  **Response** The &#x60;canUpgrade&#x60; property contains is a Boolean that indicates whether the account can be upgraded through the API.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :include_account_settings (String.t): When set to **true**, includes account settings in the response. If you omit this parameter, the default behavior is **false**.

  ## Returns

  {:ok, %DocuSign.Model.AccountInformation{}} on success
  {:error, info} on failure
  """
  @spec accounts_get_account(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.AccountInformation.t()} | {:error, Tesla.Env.t()}
  def accounts_get_account(connection, account_id, opts \\ []) do
    optional_params = %{
      :include_account_settings => :query
    }

    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.AccountInformation{})
  end

  @doc """
  Retrieves the account provisioning information for the account.
  Retrieves the account provisioning information for the account.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.ProvisioningInformation{}} on success
  {:error, info} on failure
  """
  @spec accounts_get_provisioning(Tesla.Env.client(), keyword()) ::
          {:ok, DocuSign.Model.ProvisioningInformation.t()} | {:error, Tesla.Env.t()}
  def accounts_get_provisioning(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/provisioning")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.ProvisioningInformation{})
  end

  @doc """
  Creates new accounts.
  Creates new DocuSign accounts. You can use this method to create a single account or up to 100 accounts at a time.  **Note**:  This method is restricted to partner integrations. You must work with DocuSign Professional Services or DocuSign Business Development, who will provide you with the Distributor Code and Distributor Password that you need to include in the request body.  You must include the &#x60;X-DocuSign-Authentication&#x60;  header.  Example:  &#x60;&lt;DocuSignCredentials&gt;&lt;IntegratorKey&gt;{{integratorKey}}&lt;/IntegratorKey&gt;&lt;/DocuSignCredentials&gt;&#x60;  When creating a single account, the body of the request is a [&#x60;newAccountRequest&#x60;][newAccountRequest] object.  Example:  &#x60;&#x60;&#x60; {  \&quot;newAccountRequest\&quot;: [   {    \&quot;accountName\&quot;:\&quot;Test Account\&quot;,    \&quot;distributorCode\&quot;:\&quot;MY_DIST_CODE\&quot;,    \&quot;distributorPassword\&quot;:\&quot;MY_DIST_PWD\&quot;,    \&quot;initialUser\&quot;:{     \&quot;email\&quot;:\&quot;user@emaildomain.com\&quot;,     \&quot;firstName\&quot;:\&quot;John\&quot;,     \&quot;middleName\&quot;: \&quot;Harry\&quot;,     \&quot;lastName\&quot;:\&quot;Doe\&quot;,     \&quot;suffixName\&quot;: \&quot;\&quot;,     \&quot;userName\&quot;: \&quot;John Doe\&quot;,     \&quot;jobTitle\&quot;: \&quot;Engineer\&quot;,     \&quot;company\&quot;: \&quot;Test Company\&quot;    },    \&quot;addressInformation\&quot;:{     \&quot;address1\&quot;: \&quot;1234 Main Street\&quot;,     \&quot;address2\&quot;: \&quot;Suite 100\&quot;,     \&quot;city\&quot;: \&quot;Seattle\&quot;,     \&quot;state\&quot;: \&quot;WA\&quot;,     \&quot;postalCode\&quot;: \&quot;98101\&quot;,     \&quot;country\&quot;: \&quot;US\&quot;,     \&quot;phone\&quot;: \&quot;1234567890\&quot;,     \&quot;fax\&quot;: \&quot;1234567891\&quot;    },    \&quot;planInformation\&quot;:{     \&quot;planId\&quot;:\&quot;37085696-xxxx-xxxx-xxxx-7ea067752959\&quot;    },    \&quot;referralInformation\&quot;:{     \&quot;includedSeats\&quot;: \&quot;1\&quot;,     \&quot;referralCode\&quot;: \&quot;code\&quot;,     \&quot;referrerName\&quot;: \&quot;name\&quot;    }   }  ] }  &#x60;&#x60;&#x60; If the request succeeds, it returns a 201 (Created) HTTP response code. The response returns the new account ID, password, and the default user information for each newly created account.   When creating multiple accounts, the body of the request is a &#x60;newAccountRequests&#x60; object, which contains one or more  [&#x60;newAccountDefinition&#x60;][newAccountDefinition] objects. You can create up to 100 new accounts at a time this way.  The body for a multi-account creation request looks like this in JSON:  &#x60;&#x60;&#x60; {   \&quot;newAccountRequests\&quot;: [     {       \&quot;accountName\&quot;: \&quot;accountone\&quot;,       . . .     },     {       \&quot;accountName\&quot;: \&quot;accounttwo\&quot;,       . . .     }   ] } &#x60;&#x60;&#x60;  A multi-account request looks like this in XML:  &#x60;&#x60;&#x60; &lt;newAccountsDefinition xmlns:i&#x3D;\&quot;http://www.w3.org/2001/XMLSchema-instance\&quot; xmlns&#x3D;\&quot;http://www.docusign.com/restapi\&quot;&gt;   &lt;newAccountRequests&gt;     &lt;newAccountDefinition&gt;       . . .     &lt;/newAccountDefinition&gt;     &lt;newAccountDefinition&gt;       . . .     &lt;/newAccountDefinition&gt;   &lt;/newAccountRequests&gt; &lt;/newAccountsDefinition&gt; &#x60;&#x60;&#x60;  A multi-account creation request may succeed (report a 201 code) even if some accounts could not be created. In this case, the &#x60;errorDetails&#x60; property in the response contains specific information about the failure.    [newAccountDefinition]: #/definitions/newAccountDefinition [nameValue]: #/definitions/nameValue [newAccountRequest]: #/definitions/newAccountRequest

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :new_account_definition (NewAccountDefinition):

  ## Returns

  {:ok, %DocuSign.Model.NewAccountSummary{}} on success
  {:error, info} on failure
  """
  @spec accounts_post_accounts(Tesla.Env.client(), keyword()) ::
          {:ok, DocuSign.Model.NewAccountSummary.t()} | {:error, Tesla.Env.t()}
  def accounts_post_accounts(connection, opts \\ []) do
    optional_params = %{
      :newAccountDefinition => :body
    }

    %{}
    |> method(:post)
    |> url("/v2.1/accounts")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.NewAccountSummary{})
  end

  @doc """
  Gets list of recurring and usage charges for the account.
  Retrieves the list of recurring and usage charges for the account. This can be used to determine the charge structure and usage of charge plan items.   Privileges required: account administrator

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :include_charges (String.t): Specifies which billing charges to return. Valid values are:  * envelopes * seats

  ## Returns

  {:ok, %DocuSign.Model.BillingChargeResponse{}} on success
  {:error, info} on failure
  """
  @spec billing_charges_get_account_billing_charges(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.BillingChargeResponse.t()} | {:error, Tesla.Env.t()}
  def billing_charges_get_account_billing_charges(connection, account_id, opts \\ []) do
    optional_params = %{
      :include_charges => :query
    }

    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/billing_charges")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.BillingChargeResponse{})
  end

  @doc """
  Deletes the signature for one or more captive recipient records.
  This method deletes the signature for one or more captive recipient records. It is primarily used for testing. This functionality provides a way to reset the signature associated with a client user ID so that a new signature can be created the next time the client user ID is used.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - recipient_part (String.t): Signature is the only supported value.
  - opts (KeywordList): [optional] Optional parameters
    - :captive_recipient_information (CaptiveRecipientInformation):

  ## Returns

  {:ok, %DocuSign.Model.CaptiveRecipientInformation{}} on success
  {:error, info} on failure
  """
  @spec captive_recipients_delete_captive_recipients_part(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) ::
          {:ok, DocuSign.Model.CaptiveRecipientInformation.t()} | {:error, Tesla.Env.t()}
  def captive_recipients_delete_captive_recipients_part(
        connection,
        account_id,
        recipient_part,
        opts \\ []
      ) do
    optional_params = %{
      :captiveRecipientInformation => :body
    }

    %{}
    |> method(:delete)
    |> url("/v2.1/accounts/#{account_id}/captive_recipients/#{recipient_part}")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.CaptiveRecipientInformation{})
  end

  @doc """
  Gets the envelope purge configuration for an account.
  An envelope purge configuration enables account administrators to permanently remove documents and their field data from completed and voided envelopes after a specified retention period (&#x60;retentionDays&#x60;). This method retrieves the current envelope purge configuration for your account.  **Note**: To use this method, you must be an account administrator.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.EnvelopePurgeConfiguration{}} on success
  {:error, info} on failure
  """
  @spec envelope_purge_configuration_get_envelope_purge_configuration(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) :: {:ok, DocuSign.Model.EnvelopePurgeConfiguration.t()} | {:error, Tesla.Env.t()}
  def envelope_purge_configuration_get_envelope_purge_configuration(
        connection,
        account_id,
        _opts \\ []
      ) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/settings/envelope_purge_configuration")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.EnvelopePurgeConfiguration{})
  end

  @doc """
  Sets the envelope purge configuration for an account.
  An envelope purge configuration enables account administrators to permanently remove documents and their field data from completed and voided envelopes after a specified retention period (&#x60;retentionDays&#x60;). This method sets the envelope purge configuration for your account.  **Note**: To use this method, you must be an account administrator.  For more information, see [Purge Envelopes](https://support.docusign.com/en/guides/ndse-user-guide-purge-envelopes).

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :envelope_purge_configuration (EnvelopePurgeConfiguration):

  ## Returns

  {:ok, %DocuSign.Model.EnvelopePurgeConfiguration{}} on success
  {:error, info} on failure
  """
  @spec envelope_purge_configuration_put_envelope_purge_configuration(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) :: {:ok, DocuSign.Model.EnvelopePurgeConfiguration.t()} | {:error, Tesla.Env.t()}
  def envelope_purge_configuration_put_envelope_purge_configuration(
        connection,
        account_id,
        opts \\ []
      ) do
    optional_params = %{
      :envelopePurgeConfiguration => :body
    }

    %{}
    |> method(:put)
    |> url("/v2.1/accounts/#{account_id}/settings/envelope_purge_configuration")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.EnvelopePurgeConfiguration{})
  end

  @doc """
  Gets envelope notification defaults.
  This method returns the default settings for the email notifications that signers and senders receive about envelopes.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.NotificationDefaults{}} on success
  {:error, info} on failure
  """
  @spec notification_defaults_get_notification_defaults(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.NotificationDefaults.t()} | {:error, Tesla.Env.t()}
  def notification_defaults_get_notification_defaults(connection, account_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/settings/notification_defaults")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.NotificationDefaults{})
  end

  @doc """
  Updates envelope notification default settings.
  This method changes the default settings for the email notifications that signers and senders receive about envelopes.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :notification_defaults (NotificationDefaults):

  ## Returns

  {:ok, %DocuSign.Model.NotificationDefaults{}} on success
  {:error, info} on failure
  """
  @spec notification_defaults_put_notification_defaults(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.NotificationDefaults.t()} | {:error, Tesla.Env.t()}
  def notification_defaults_put_notification_defaults(connection, account_id, opts \\ []) do
    optional_params = %{
      :notificationDefaults => :body
    }

    %{}
    |> method(:put)
    |> url("/v2.1/accounts/#{account_id}/settings/notification_defaults")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.NotificationDefaults{})
  end

  @doc """
  Retrieves an account settings comparison.


  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - organization_id (String.t):
  - result_id (String.t):
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec organization_exports_get_account_settings_export(
          Tesla.Env.client(),
          String.t(),
          String.t(),
          keyword()
        ) :: {:ok, nil} | {:error, Tesla.Env.t()}
  def organization_exports_get_account_settings_export(
        connection,
        organization_id,
        result_id,
        _opts \\ []
      ) do
    %{}
    |> method(:get)
    |> url("/v2.1/organization_exports/#{organization_id}/account_settings/#{result_id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Gets the recipient names associated with an email address.
  Retrieves a list of all of the names associated with the email address that you pass in. This list can include variants of a single recipient&#39;s name that are used for signing, as well as the names of multiple different recipients.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): (Required) The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :email (String.t): The email address for which you want to retrieve recipient names.

  ## Returns

  {:ok, %DocuSign.Model.RecipientNamesResponse{}} on success
  {:error, info} on failure
  """
  @spec recipient_names_get_recipient_names(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.RecipientNamesResponse.t()} | {:error, Tesla.Env.t()}
  def recipient_names_get_recipient_names(connection, account_id, opts \\ []) do
    optional_params = %{
      :email => :query
    }

    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/recipient_names")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.RecipientNamesResponse{})
  end

  @doc """
  Gets account settings information.
  Retrieves the account settings information for the specified account.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.AccountSettingsInformation{}} on success
  {:error, info} on failure
  """
  @spec settings_get_settings(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.AccountSettingsInformation.t()} | {:error, Tesla.Env.t()}
  def settings_get_settings(connection, account_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/settings")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.AccountSettingsInformation{})
  end

  @doc """
  Updates the account settings for an account.
  Updates the account settings for the specified account.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :account_settings_information (AccountSettingsInformation):

  ## Returns

  {:ok, %{}} on success
  {:error, info} on failure
  """
  @spec settings_put_settings(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil} | {:error, Tesla.Env.t()}
  def settings_put_settings(connection, account_id, opts \\ []) do
    optional_params = %{
      :accountSettingsInformation => :body
    }

    %{}
    |> method(:put)
    |> url("/v2.1/accounts/#{account_id}/settings")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(false)
  end

  @doc """
  Reserved: Gets the shared item status for one or more users.
  Retrieves shared item status for one or more users and types of items.  Users with account administration privileges can retrieve shared access information for all account users. Users without account administrator privileges can only retrieve shared access information for themselves, and the returned information is limited to retrieving the status of the members of the account that are sharing their folders to the user. This is equivalent to setting the &#x60;shared&#x60; parameter to &#x60;shared_from&#x60;.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :count (String.t): Specifies the maximum number of results included in the response. If no value is specified, this defaults to 1000.
    - :envelopes_not_shared_user_status (String.t): This query parameter works in conjunction with &#x60;user_ids&#x60;. When you specify one of the following user statuses, the query limits the results to only users that match the specified status: - &#x60;ActivationRequired&#x60;: Membership Activation required - &#x60;ActivationSent&#x60;: Membership activation sent to user - &#x60;Active&#x60;: User Membership is active - &#x60;Closed&#x60;: User Membership is closed - &#x60;Disabled&#x60;: User Membership is disabled
    - :folder_ids (String.t): A comma-separated list of folder IDs for which to return shared item information. If &#x60;item_type&#x60; is set to &#x60;folders&#x60;, at least one folder ID is required.
    - :item_type (String.t): Specifies the type of shared item being requested. The possible values are:  - &#x60;envelopes&#x60;: Get information about envelope sharing between users. - &#x60;templates&#x60;: Get information about template sharing among users and groups. - &#x60;folders&#x60;: Get information about folder sharing among users and groups.
    - :search_text (String.t): Filter user names based on the specified string. The wild-card &#39;*&#39; (asterisk) can be used in the string.
    - :shared (String.t): A comma-separated list of sharing filters that specifies which users appear in the response.   - &#x60;not_shared&#x60;: The response lists users who do not share items of &#x60;item_type&#x60; with the current user.  - &#x60;shared_to&#x60;: The response lists users in &#x60;user_list&#x60; who are sharing items to current user.  - &#x60;shared_from&#x60;: The response lists users in &#x60;user_list&#x60; who are sharing items from the current user.  - &#x60;shared_to_and_from&#x60;: The response lists users in &#x60;user_list&#x60; who are sharing items to and from the current user.  If the current user does not have administrative privileges, only the &#x60;shared_to&#x60; option is valid.
    - :start_position (String.t): If the number of responses is greater than &#x60;count&#x60;, this specifies the number of responses to skip. Typically this value is a multiple of &#x60;count&#x60;. The default is 0.
    - :user_ids (String.t): A comma-separated list of user IDs for whom the shared item information is being requested.

  ## Returns

  {:ok, %DocuSign.Model.AccountSharedAccess{}} on success
  {:error, info} on failure
  """
  @spec shared_access_get_shared_access(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.AccountSharedAccess.t()} | {:error, Tesla.Env.t()}
  def shared_access_get_shared_access(connection, account_id, opts \\ []) do
    optional_params = %{
      :count => :query,
      :envelopes_not_shared_user_status => :query,
      :folder_ids => :query,
      :item_type => :query,
      :search_text => :query,
      :shared => :query,
      :start_position => :query,
      :user_ids => :query
    }

    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/shared_access")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.AccountSharedAccess{})
  end

  @doc """
  Reserved: Sets the shared access information for users.
  This sets the shared access status for one or more users or templates.  When setting user shared access, only users with account administration privileges can set shared access status for envelopes.  When setting template shared access, only users who own a template and have sharing permission or with account administration privileges can set shared access for templates.  Changes to the shared items status are not additive. The change always replaces the current status.  To change template shared access, add the query parameter &#x60;item_type&#x60; &#x3D; &#x60;templates&#x60; to the request. When this is set, the user and envelopes properties are not required.  **Note**: This functionality is a newer version of the [Update Group Share](https://developers.docusign.com/docs/esign-rest-api/reference/Templates/Templates/updateGroupShare) functionality.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters
    - :item_type (String.t): Specifies the type of shared item being set: - &#x60;envelopes&#x60;: Set envelope sharing between users. - &#x60;templates&#x60;: Set information about template sharing among users and groups. - &#x60;folders&#x60;: Get information about folder sharing among users and groups.
    - :preserve_existing_shared_access (String.t): When **true**, preserve the existing shared access settings.
    - :user_ids (String.t): A comma-separated list of IDs for users whose shared item access is being set.
    - :account_shared_access (AccountSharedAccess):

  ## Returns

  {:ok, %DocuSign.Model.AccountSharedAccess{}} on success
  {:error, info} on failure
  """
  @spec shared_access_put_shared_access(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.AccountSharedAccess.t()} | {:error, Tesla.Env.t()}
  def shared_access_put_shared_access(connection, account_id, opts \\ []) do
    optional_params = %{
      :item_type => :query,
      :preserve_existing_shared_access => :query,
      :user_ids => :query,
      :accountSharedAccess => :body
    }

    %{}
    |> method(:put)
    |> url("/v2.1/accounts/#{account_id}/shared_access")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.AccountSharedAccess{})
  end

  @doc """
  Gets the supported languages for envelope recipients.
  Retrieves a list of supported languages that you can set for an individual recipient when creating an envelope, as well as their simple type enumeration values. These are the languages that you can set for the standard email format and signing view for each recipient.  For example, in the recipient&#39;s email notification, this setting affects elements such as the standard introductory text describing the request to sign. It also determines the language used for buttons and tabs in both the email notification and the signing experience.  **Note**: Setting a language for a recipient affects only the DocuSign standard text. Any custom text that you enter for the &#x60;emailBody&#x60; and &#x60;emailSubject&#x60; of the notification is not translated, and appears exactly as you enter it.  For more information, see [Set Recipient Language and Specify Custom Email Messages](https://support.docusign.com/en/guides/ndse-user-guide-recipient-language).

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.SupportedLanguages{}} on success
  {:error, info} on failure
  """
  @spec supported_languages_get_supported_languages(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, DocuSign.Model.SupportedLanguages.t()} | {:error, Tesla.Env.t()}
  def supported_languages_get_supported_languages(connection, account_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/supported_languages")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.SupportedLanguages{})
  end

  @doc """
  Gets a list of unsupported file types.
  Retrieves a list of file types (mime-types and file-extensions) that are not supported for upload through the DocuSign system.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - account_id (String.t): The external account number (int) or account ID GUID.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %DocuSign.Model.FileTypeList{}} on success
  {:error, info} on failure
  """
  @spec unsupported_file_types_get_unsupported_file_types(
          Tesla.Env.client(),
          String.t(),
          keyword()
        ) :: {:ok, DocuSign.Model.FileTypeList.t()} | {:error, Tesla.Env.t()}
  def unsupported_file_types_get_unsupported_file_types(connection, account_id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v2.1/accounts/#{account_id}/unsupported_file_types")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.FileTypeList{})
  end
end
